<!-- <div class="name">Divine Chelladurai</div> -->

<div>
    <!-- i'm a software engineer at vmware, with hands-on expertise in building web products using Angular, Nodejs, Java(Spring boot), Kubernetes, AWS -->

    <div class="topbar">
      <div class="left_profilepic">
        <img src="assets/images/1688219560929.jpeg" alt="profile picture" srcset="">
        <!-- <img src="assets/images/matrix.jpg" alt="profile picture" srcset=""> -->
      </div>
      <div class="right_profiledescription">
        <div>Divine Chelladurai</div>
        <div>Full stack developer at VMware</div>
        <div>Product development expertise (8+ years)</div>
        <div><a href="https://www.credly.com/badges/6f5e9251-352f-444d-a372-f57fc450cf6c/public_url" target="_blank" >CKAD Certified</a></div>


      </div>
    </div>
    <div style="clear: both;"></div>

    <fieldset style="margin-top:1rem">
      <legend>Present</legend>
      <div>Hands on with</div>
      <div style="margin-left: 2rem;">
        <div>Angular 8+, Nodejs</div>
        <div>Java8 (Spring Boot 2.7)</div>
        <div>Mysql Mongodb</div>
        <div>Devops, Docker & K8s</div>
      </div>
      <br />
      <div>Scrum Master, Closely working with Product owner</div>
    </fieldset>
    <!-- <div>Present & Past experience in AWS, Digitalocean</div> -->

    <div class="generaldescription">i'm available to discuss requirements/issues on the above mentioned areas</div>
    <div style="display: flex;align-items: center;">
      Socials &nbsp; <app-socials></app-socials>
    </div>
</div>

