<!-- <div class="name">Divine Chelladurai</div> -->

<div>
    <!-- i'm a software engineer at vmware, with hands-on expertise in building web products using Angular, Nodejs, Java(Spring boot), Kubernetes, AWS -->
    <div>
        i'm Divine Chelladurai. i'm a Full stack developer at vmware with 9+ years of experience in Software industry with expertise in building web products.
    </div>
    <div></div>
    <br>
    <div class="skilldetails">
        <div>i work with below technologies on a regular basis</div>
        <ul>
            <li>Angular 8+,SCSS</li>
            <li>Nodejs with express, Java8 with Spring boot</li>
            <li>Mysql, Mongodb</li>
            <li>Jenkins, Docker, Kubernetes, AWS</li>
        </ul>
    </div>
    <br>
    <div>i'm open to discuss or analyze any issues on the above mentioned areas</div>
</div>
<app-socials></app-socials>
<!-- <div>Angular</div>
<div>Scss</div>
<div>Nodejs</div>
<div>Java</div>
<div>Mysql</div>
<div>Mongodb</div>
<div>AWS</div> -->
